.main-booklist {
  padding: 1rem;
}

/* table css */

#booksTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#booksTable td,
#booksTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#booksTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#booksTable tr:hover {
  background-color: #ddd;
}

#booksTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5a49b0;
  color: white;
}

.add-button {
  color: #5a49b0;
  font-weight: bold;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid #5a49b0;
  transition: background-color 0.3s;
  /* width: 15%; */
  width: auto;
}

.add-button:hover {
  background-color: #5a49b0;
  color: white;
  border: 1px solid #5a49b0;
}

/* add new book */
/* AddNewBookModal.css */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 50vw;
}

.modal-content {
  text-align: center;
  /* Add styles for modal content */
}

.search-input {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container {
  padding-bottom: 1rem;
}
.error {
  color: red;
  font-size: 14px;
}

.edit-button {
  color: #5a49b0;
  font-weight: bold;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid #5a49b0;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #5a49b0;
  color: white;
  border: 1px solid #5a49b0;
}

.input-bar {
  color: #5a49b0;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  margin-left: 10px;
  border: 1px solid #5a49b0;
  transition: background-color 0.3s;
}

.input-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.input-bar input {
  border: none;
  outline: none;
}

.input-bar:hover {
  border: 2px solid #5a49b0 !important;
}
